/* #root {
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/tailwindgradient.png");
    background-size: cover;
    background-position: center;
    font-family: 'Inter', sans-serif;

}
 */


/* 
.cuote {
    position: absolute;
    width: 157px;
    height: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    text-align: center;

    color: #000000;
} */